body {
  margin: 0;
}

.page-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#code-output {
  font-family: 'Inconsolata', monospace;
  font-size: small;
}

img[alt~='logo'] {
  height: 60px;
  margin-bottom: 10px;
}

// #footer {
//   position: absolute;
//   left: auto;
//   bottom: 0;
// }

#test-generator-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.code-container {
  position: relative;
}

.code-container:hover > .button-container {
  transition: all 0.5s ease-in;
  opacity: 100;
}

.button-container {
  position: absolute;
  display: inline-block;
  top: 35px;
  right: 50px;
  opacity: 0;
  overflow: hidden;
  z-index: 10;
}

#navbar {
  // position: fixed; // Sticky Navbar
  top: 0;
  width: 100%;
  z-index: 99;
}

// Uncomment this section if changing Navbar to sticky
// .page-body {
//   margin-top: 120px;
// }
