body {
  margin: 0;
}

.page-container {
    margin-left:-120px;
    min-width: 1050px;
    // max-height: 600px;
}

.page-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#code-output {
  font-family: 'Inconsolata', monospace;
  font-size: small;
}

#main-clipboard {
  font-family: 'Inconsolata', monospace;
  font-size: small;
  height: 500px !important;
}

img[alt~='logo'] {
  height: 60px;
  margin-bottom: 10px;
}

// #footer {
//   position: absolute;
//   left: auto;
//   bottom: 0;
// }

#test-generator-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.code-container {
  position: relative;
}

.code-container:hover > .button-container {
  transition: all 0.5s ease-in;
  opacity: 100;
}

.code-container:hover > .clipboard-button-container {
  transition: all 0.5s ease-in;
  opacity: 100;
}

.button-container {
  position: absolute;
  display: inline-block;
  top: 42px;
  right: 80px;
  opacity: 0;
  overflow: hidden;
  z-index: 10;
}

.clipboard-button-container {
  position: absolute;
  display: inline-block;
  top: 67px;
  right: 58px;
  opacity: 0;
  overflow: hidden;
  z-index: 10;
}

#navbar {
  position: relative;
  width: 100%;
  z-index: 99;
  // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

// Uncomment this section if changing Navbar to sticky
// .page-body {
//   margin-top: 120px;
// }

.welcome-text {
  pointer-events: none;
}

.contents {
  z-index: 10;
}

.panel {
  position: relative;
  height: 100%;
  z-index: 10;
  background: #f9f6ff;
  padding-top: 25px;
  // box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.nav-panel-container {
  z-index: 10;
}

.project-panel-container {
  z-index: 9;
}

.divider {
  width: 80px;
  background-color: #5E17EB;
  height: 2px;
  border: none;
}