#code-output {
  font-family: 'Inconsolata', monospace;
  font-size: small;
}

img[alt~='logo'] {
  height: 60px;
  margin-bottom: 10px;
}

// #footer {
//   position: absolute;
//   left: auto;
//   bottom: 0;
// }

#test-generator-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#add-assertion {
  align-self: flex-start;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  color: white;
  text-decoration: none;
}
